{% extends "base.html" %}

{% block title %}Welcome Summary{% endblock %}

{% block content %}
  <section class="welcome-container">
    <h2>Welcome, {{ club['email'] }}</h2>
    <p>Points available: <strong>{{ club['points'] }}</strong></p>

    <h3>Competitions:</h3>
    <ul class="competition-list">
      {% for comp in competitions %}
        <li class="competition-item">
          <p><strong>{{ comp['name'] }}</strong></p>
          <p>Date: {{ comp['date'] }}</p>
          <p>Number of Places: {{ comp['numberOfPlaces'] }}</p>
          {% if comp['numberOfPlaces']|int > 0 %}
            <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}">Book Places</a>
          {% endif %}
          <hr />
        </li>
      {% endfor %}
    </ul>

    <a class="btn-secondary" href="{{ url_for('list_club_and_points') }}">Check Clubs and Points</a>
  </section>
{% endblock %}
